---
import { Image } from "astro:assets";
import HeroBG from "../images/hero-bg.png";
import Home1 from "../images/home_1.png";
import Home2 from "../images/home_2.png";
import Home3 from "../images/home_3.png";
import Home4 from "../images/home_4.png";
import HomeGrowth from "../images/home-growth.png";
import HomeLeader from "../images/home-leader.png";
import "../styles/global.css";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <main class="">
    <section
      class="relative flex h-[100vh] flex-row items-center justify-between space-x-12 py-16 text-white"
    >
      <div
        class="space-y-4 px-8 sm:px-16 md:space-y-14 lg:w-[480px] xl:w-[600px]"
      >
        <div class="space-y-8 lg:w-[540px]">
          <h1
            class="font-secondary text-2xl font-semibold sm:text-3xl lg:text-[2.75rem] lg:leading-13"
          >
            Transforming People.<br />Building Organizations.<br />Catalysing
            Performance.<br />
          </h1>
          <p class="sm:text-xl">
            At Fortune Lead we specialize in catalyzing Leadership Development,
            Workplace Health & Safety, and People Solutions. We equip
            individuals and organizations with practical, research-driven tools
            for sustainable success.
          </p>
        </div>
        <button
          class="w-full bg-white px-4 py-3 text-center font-semibold text-nowrap text-(--primary) hover:cursor-pointer lg:w-[440px] xl:w-[540px]"
          onclick="get_started()"
        >
          <a href="#contact" class="" id="get-started">Get Started</a>
        </button>
      </div>
      <Image
        src={HeroBG}
        alt="Background image"
        width="1618"
        height="1080"
        class="absolute -z-50 aspect-auto h-full w-full overflow-clip object-cover"
      />
    </section>
    <section
      class="w-screen space-y-4 p-8 text-xl text-black sm:p-16"
      id="about"
    >
      <h2 class="text-3xl">About us</h2>
      <div
        class="flex h-full w-full flex-col items-start space-y-8 lg:w-full lg:flex-row lg:space-y-0 lg:space-x-6"
      >
        <div class="w-full space-y-8">
          <div class="space-y-2">
            <h3 class="text-2xl font-normal">Who are we</h3>
            <p>
              We are passionate about enhancing workplace performance and
              driving organizational transformation. Our solutions are
              practical, innovative, and tailored to meet each client’s unique
              needs.
            </p>
          </div>
          <div class="space-y-2">
            <h3 class="text-2xl font-normal">Mission</h3>
            <p>
              To deliver high-impact, customized solutions that exceed
              expectations and drive sustainable transformation.
            </p>
          </div>
          <div class="space-y-2">
            <h3 class="text-2xl font-normal">Vision</h3>
            <p>To be Kenya’s leading catalyst for people growth.</p>
          </div>
        </div>
        <div class="flex w-full flex-col items-start space-y-4 lg:w-full">
          <h3 class="text-2xl font-normal">Our Values</h3>
          <p>
            <span class="pr-4 font-semibold">Excellence:</span>We deliver with
            quality and precision.
          </p>
          <p>
            <span class="pr-4 font-semibold">Integrity:</span>We act ethically
            and keep our word.
          </p>
          <p>
            <span class="pr-4 font-semibold">Innovation:</span>We embrace
            learning and forward-thinking.
          </p>
          <p>
            <span class="pr-4 font-semibold">Leadership:</span>We champion
            transformation at every level.
          </p>
          <p>
            <span class="pr-4 font-semibold">Safety & Assurance:</span>We
            promote safe and thriving workplaces.
          </p>
          <p>
            <span class="font-medium italic"
              >“Leaders become great, not because of their power, but because of
              their ability to empower others.”</span
            ><br />— John C. Maxwell
          </p>
        </div>
      </div>
    </section>
    <section
      class="relative flex min-h-[70vh] w-screen flex-col justify-center space-y-4 bg-[url(/assets/home-growth.png)] bg-cover p-8 text-xl text-white sm:p-16"
    >
      <h2 class="pb-16 text-3xl font-semibold">Our Approach</h2>
      <div
        class="flex h-full w-full flex-col items-center justify-start space-y-8 lg:flex-row"
      >
        <p class="w-full flex-1 text-3xl lg:w-1/4 xl:text-4xl">
          The Growth <br />
          Catalyst Formula
        </p>
        <div
          class="grid w-full flex-2 grid-cols-1 gap-6 gap-y-12 md:grid-cols-2"
        >
          <div class="md:w-[310px] xl:w-[400px]">
            <h3 class="text-2xl font-medium">We Listen First</h3>
            <p>
              Every organization is unique, so we take time to understand your
              needs and tailor solutions that truly fit.
            </p>
          </div>
          <div class="md:w-[310px] xl:w-[400px]">
            <h3 class="text-2xl font-medium">We Deliver What Matters</h3>
            <p>
              From real-world tools to fresh ideas, we focus on impact, not just
              ticking boxes.
            </p>
          </div>
          <div class="md:w-[310px] xl:w-[400px]">
            <h3 class="text-2xl font-medium">We Walk the Journey with You</h3>
            <p>
              Our team is skilled, passionate, flexible, and committed to seeing
              you succeed.
            </p>
          </div>
          <div class="md:w-[310px] xl:w-[400px]">
            <h3 class="text-2xl font-medium">We are committed to excellence</h3>
            <p>
              From planning to execution, we uphold high standards in everything
              we do
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-screen space-y-8 p-8 text-xl sm:p-16">
      <h2 class="text-3xl font-medium">Our Services</h2>
      <div
        class="flex w-full flex-col items-center justify-between space-y-8 lg:flex-row lg:space-y-0 lg:space-x-8"
        id="leader"
      >
        <div class="w-full space-y-4 lg:w-1/2">
          <h3 class="text-3xl text-(--primary)">Leadership Development</h3>
          <p>
            We shape leaders and build cohesive teams through immersive,
            results-driven programs.
          </p>
          <div class="space-y-4">
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >01</span
              >
              <p>
                Self-Leadership: Strengthen vision, discipline, and career
                direction.
              </p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >02</span
              >
              <p>
                Team Effectiveness: Boost trust, collaboration, and
                communication.
              </p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >03</span
              >
              <p>
                Leader Development: Equip leaders to mentor, coach, and build
                succession pipelines.
              </p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >04</span
              >
              <p>
                Adventure Learning (Camping): Outdoor challenges that foster
                teamwork and leadership.
              </p>
            </div>
          </div>
          <p>
            <span class="pr-4 font-semibold text-(--primary)">Outcomes:</span
            >Stronger leadership pipeline, engaged teams, better
            decision-making.
          </p>
        </div>
        <Image
          src={Home1}
          alt="An image of people in an office"
          width="600"
          height="500"
          class="aspect-auto w-full lg:w-1/2"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-between space-y-8 lg:flex-row-reverse lg:space-y-0 lg:space-x-8"
        id="hr"
      >
        <div class="w-full space-y-4 lg:w-1/2 lg:pl-8">
          <h3 class="text-3xl text-(--primary)">Human Resource Consulting</h3>
          <p>
            We design agile, performance-driven HR frameworks that support
            growth.
          </p>
          <div class="space-y-4">
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >01</span
              >
              <p>Talent Sourcing & Recruitment</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >02</span
              >
              <p>Organization Design & Job Evaluation</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >03</span
              >
              <p>Human Resource Audits</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >04</span
              >
              <p>Talent & Performance Management</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >05</span
              >
              <p>Remuneration & Rewards</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >06</span
              >
              <p>Training solutions & curriculum development</p>
            </div>
          </div>
          <p>
            <span class="pr-4 font-semibold text-(--primary)">Outcomes:</span
            >Smarter hiring, fit-for-purpose structures, higher retention, and
            sustainable high performance.
          </p>
        </div>
        <Image
          src={Home2}
          alt="An image of people in an office"
          width="600"
          height="500"
          class="aspect-auto w-full lg:w-1/2"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-between space-y-8 lg:flex-row lg:space-y-0 lg:space-x-8"
        id="health"
      >
        <div class="w-full space-y-4 lg:w-1/2">
          <h3 class="text-3xl text-(--primary)">Workspace Health and Safety</h3>
          <p>
            We help organizations build a culture of safety, compliance, and
            resilience.
          </p>
          <div class="space-y-4">
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >01</span
              >
              <p>First Aid & Emergency Care</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >02</span
              >
              <p>Fire Safety & Evacuation Training</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >03</span
              >
              <p>Custom Safety Programs</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >04</span
              >
              <p>Health & Safety Audits</p>
            </div>
          </div>
          <p>
            <span class="pr-4 font-semibold text-(--primary)">Outcomes:</span
            >Reduced workplace incidents, compliance with OSH Act, improved
            morale, business continuity.
          </p>
        </div>
        <Image
          src={Home3}
          alt="An image of people in an office"
          width="600"
          height="500"
          class="aspect-auto w-full lg:w-1/2"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-between space-y-8 lg:flex-row-reverse lg:space-y-0 lg:space-x-8"
        id="camp"
      >
        <div class="w-full space-y-4 lg:w-1/2 lg:pl-8">
          <h3 class="text-3xl text-(--primary)">Team Building & Camping</h3>
          <p>
            <span class="font-medium italic"
              >"In every walk with nature one receives far more than he seeks."</span
            >
            — John Muir
          </p>
          <p>
            We create transformative experiences that strengthen collaboration
            and personal growth.
          </p>
          <div class="space-y-4">
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >01</span
              >
              <p>Outdoor adventures (hiking, obstacle courses, nature walks)</p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >02</span
              >
              <p>
                Life skills training (first aid, conflict resolution, survival
                skills)
              </p>
            </div>
            <div class="flex flex-row items-center justify-start">
              <span
                class="w-[80px] shrink-0 text-2xl font-bold text-(--primary)"
                >03</span
              >
              <p>Campfire sessions (storytelling, music, talent sharing)</p>
            </div>
          </div>
          <p>
            <span class="pr-4 font-semibold text-(--primary)">Outcomes:</span
            >Stronger teams, improved communication, lasting memories.
          </p>
        </div>
        <Image
          src={Home4}
          alt="An image of people in an office"
          width="600"
          height="500"
          class="aspect-auto w-full lg:w-1/2"
        />
      </div>
    </section>
    <section class="space-y-6 px-8 sm:px-16" id="team">
      <h2 class="text-3xl">Our Team</h2>
      <div
        class="flex flex-col items-center justify-between space-y-6 md:flex-row md:items-start md:space-y-0 md:space-x-12 lg:space-x-24 xl:justify-center xl:space-x-56"
      >
        <div
          class="flex flex-col items-center justify-start space-y-6 sm:w-[500px]"
        >
          <img
            src="/david.jpeg"
            alt="Photo"
            class="aspect-square w-[280px] rounded-full border md:w-[400px]"
          />
          <h3 class="text-2xl font-medium">David Kariuki</h3>
          <p>
            Human Resource & Leadership Expert | Certified Executive Coach <br
            />
            With 20+ years of experience in financial services, technology, and education,
            David specializes in organization design, culture transformation, talent
            strategy, and executive coaching. He has worked with leading organizations
            across East Africa, delivering impactful HR and leadership solutions
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-start space-y-6 sm:w-[500px]"
        >
          <img
            src="/namu.jpeg"
            alt="Photo"
            class="aspect-square w-[280px] rounded-full border md:w-[400px]"
          />
          <h3 class="text-2xl font-medium">Richard Namu</h3>
          <p>
            Occupational Safety & HR Specialist | Certified Fire & Emergency
            Instructor <br />
            Richard brings over a decade of expertise in health & safety training,
            audits, and emergency response. His work spans humanitarian agencies,
            corporates, schools, and media houses across Africa, supporting organizations
            to build resilient and safe workplaces.
          </p>
        </div>
      </div>
    </section>
    <section
      class="flex flex-row items-center justify-center px-8 py-8 sm:px-16"
      id="contact"
    >
      <div
        class="w-full rounded-4xl bg-(--primary) p-8 text-white md:p-16 xl:w-4/5"
      >
        <div
          class="flex flex-col items-start justify-between space-y-8 md:flex-row md:space-y-0"
        >
          <div class="w-full space-y-6">
            <h2 class="text-3xl font-semibold">Work with us today</h2>
            <p>We have served a variety of industries including</p>
            <div class="space-y-3 md:pl-8">
              <div class="flex flex-row items-center justify-start space-x-6">
                <img src="/assets/tick.svg" alt="-" />
                <p>Finance</p>
              </div>
              <div class="flex flex-row items-center justify-start space-x-6">
                <img src="/assets/tick.svg" alt="-" />
                <p>Hospitality</p>
              </div>
              <div class="flex flex-row items-center justify-start space-x-6">
                <img src="/assets/tick.svg" alt="-" />
                <p>Education</p>
              </div>
              <div class="flex flex-row items-center justify-start space-x-6">
                <img src="/assets/tick.svg" alt="-" />
                <p>Corporate sectors</p>
              </div>
            </div>
            <p class="font-semibold">Text us on Whatsapp : +254 718 168875</p>
            <p class="font-semibold">Text us on Instagram: @FortuneLeadke</p>
          </div>
          <form
            class="flex w-full flex-col space-y-3"
            method="POST"
            action="register.php"
          >
            <div class="w-full space-y-4">
              <label for="email" class="text-xl font-semibold"
                >Enter your email</label
              >
              <input
                type="email"
                name="email"
                placeholder="Enter your best email"
                class="w-full rounded-lg bg-white px-3 py-3 text-black"
              />
            </div>
            <div class="flex flex-row items-start space-x-4">
              <div class="w-full space-y-4">
                <label for="surname" class="text-xl font-semibold"
                  >Surname</label
                >
                <input
                  type="text"
                  name="surname"
                  placeholder="Doe"
                  class="w-full rounded-lg bg-white px-3 py-3 text-black"
                />
              </div>
              <div class="w-full space-y-4">
                <label for="firstname" class="text-xl font-semibold"
                  >Firstname</label
                >
                <input
                  type="text"
                  name="firstname"
                  placeholder="John"
                  class="w-full rounded-lg bg-white px-3 py-3 text-black"
                />
              </div>
            </div>
            <div class="w-full space-y-4">
              <label for="phone" class="text-xl font-semibold"
                >Your phone number</label
              >
              <input
                type="phone"
                name="phone"
                placeholder="+254 712345678"
                class="w-full rounded-lg bg-white px-3 py-3 text-black"
              />
            </div>
            <button
              class="my-3 w-full rounded-lg bg-white px-6 py-4 font-bold text-(--primary)"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
  </main>
  <style is:inline></style>
</Layout>
